* {
  background: rgb(178, 173, 165);
  font-family: "inter";
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}
/* h1 {
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
} */

/* Logo */

.logo {
  margin-left: 10px;
  padding-top: 10px;
  width: 3%;
}
main {
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}

.tx_area {
  border: none;
  color: #0a3871;
  margin-top: 90px;
  text-transform: lowercase;
  width: 40%;
  height: 350px;
  border-radius: 30px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  /* overflow: hidden; */
  background-size: cover;
  background-position: center center;
  background-color: darkgrey;
}
::placeholder {
  color: #0a3871;
}
.tx_area:focus {
  outline: none;
}

.mensaje {
  background: white;
  background-image: url(imagenes/Muñeco.png);
  background-repeat: no-repeat;
  border: none;
  border-radius: 24px;
  color: #0a3871;
  margin-left: 98px;
  margin: top 20px;
  padding-left: 20px;
  /* position: fixed; */
  /* overflow: hidden; */
}
.mensaje:focus {
  outline: none;
}
.botones {
  display: flex;
  margin-top: 18px;
}
.btn_desencriptar {
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 67px;
  margin-left: 10px;
  width: 228px;
}

.btn_encriptar {
  background: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  height: 67px;
  margin-left: 40px;
  position: relative;
  width: 228px;
}
.btn_copiar {
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 67px;
  margin-left: 108px;
  margin-top: 14%;
  position: absolute;
  width: 336px;
}
.informacion {
  color: #4d565f;
  font: size 16px;
}
.pie {
  text-align: center;
  color: black;
  font-size: small;
}
